

.card {
  width: 320px;
  height: 400px; 
  padding: 5px;
  margin: 20px;
  float: left;
  box-shadow: 3px 3px 3px 3px rgb(153, 150, 150);
  position: relative;
  bottom: 30px;
  text-align: center;
  display: inline;
  /* background: linear-gradient(45deg, rgb(135, 240, 214), rgb(29, 126, 182));; */
}
.boot{
  margin-bottom: 30%;
  left: 1.4%;
  position: relative;
  top: 8px;
  bottom: 5%;
  
}

.fot{
  top: 20%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-custom {
  width: 20%;
  min-width: 200px;
  overflow: hidden;
  min-height: 450px;
  border: 0;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit; */
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;

}
