
#about-me {
  display:flex;
}
#about-me .picture {
  flex:3;
}
#about-me .picture img{
  width: 100%;
  height:100%;
}
#about-me .information {
  line-height: 1.6;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  flex:4;
  background-color: #f2f2f2;
  padding:35px;
}
#about-me .information .information-up h3 {
  padding-bottom: 30px;
  text-transform:uppercase;
  font-size:30px;
  color:#555;
}
#about-me .information .information-up p{
  padding-bottom: 25px;
}
#about-me .information .skills {
  display:flex;
  flex-wrap: wrap;
}
#about-me .information .skills .content {
  width:50%;
  display:flex;
}
#about-me .information .skills .content .icon {
  width:20%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
#about-me .information .skills .content .icon img {
  height:60%;
  width:60%;
  margin: auto;
}
#about-me .information .skills .content .details {
  width:80%;
  display:flex;
  flex-direction: column;
}
/* End About Me */ 
.postButton{
  list-style: none;
  display: inline-block;
  margin: 1%;
}

.homeCard{
  float: left;
  height: 500;
  width: 500;

}
.Card {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  width: 90%;
  height: auto; 
  padding: 5px;
  margin: 20px;
  float: left;
  box-shadow: 2px 2px 2px 2px  #3A7BD5;

  position: absolute;
  left: 4%;
  display: inline;
  text-align: center;
}
.PostCard {
  padding: 5px;
  margin: 20px;
  box-shadow: 3px 3px 3px 3px rgb(153 150 150);
  position: relative;
  bottom: 30px;
  text-align: center;
}

.PostCard hr{
  box-shadow: 0px 1px 0px 1px  #3a7bd5;

}
.card-comments img{width:4rem}

.custom-scrollbar-js,
.custom-scrollbar-css {
  height: 200px;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: scroll;
}

/* scrollbar width */
body::-webkit-scrollbar {
  width: 8px;
}

/* scrollbar track */
body::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00d2ff;
  background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}

.buttonBorder{
  padding: 0;
border: none;
background: none;
}
.cardCon{
  position: relative;
  left: 5%;
  text-align: center;
}



.container {
  position: relative;
  text-align: center;
  /* color: white; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content{
  margin: 10%;
}
.card-custom {
  width: 20%;
  min-width: 200px;
  overflow: hidden;
  min-height: 400px;
  border: 0;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;

}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}
