{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="{% static '/images/landing-img.png' %}" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body custom-scrollbar-css">
                        <!-- <div class="brand-wrapper">
                            <img src="assets/images/logo.svg" alt="logo" class="logo">
                        </div> -->
                        {% block body %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
