{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Blogy</title>
  <script src="https://use.fontawesome.com/9c234fca66.js"></script>
  <link rel="icon" href="{% static '/images/logo2.png' %}" type="image/gif" sizes="20x20">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if form %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
  {% elif not reports %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <img src="{% static '/images/logo2.png' %}" width="2.5%" height="3%" />
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Catagories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_staff %}
                <li><a class="dropdown-item" href="/category/create/">Create new category</a></li>
                {% endif %}
                {%for object in categorys_list %}
                <li><a class="dropdown-item" href="{% url 'blog-category_view' object %}">{{object}}</a></li>
                {%endfor%}

              </ul>
            </li>
          </ul>


        </div>
        <form class="d-flex" name="searchform" method="GET" action="{% url 'search' %}">
          <!-- {% csrf_token %} -->
          <input class="form-control me-2" type="search"  name="q" placeholder="What Is In Your Mind?"  aria-label="Search"/>

        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/post/create/">New Post</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-users-cog" aria-hidden="true"></i> Admin </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item waves-effect waves-light" href="{% url 'reports' %}">Reports <span class="badge badge-light">{{countNotArchivedReport}}</span></a>
              <a class="dropdown-item waves-effect waves-light" href="/published">New Post</a>
              <a class="dropdown-item waves-effect waves-light" href="/admin">Control Panel</a>
            </div>
          </li>
          
          <!-- <a class="btn btn-primary" href="{% url 'reports' %}">
            Announcement <span class="badge badge-light">{{countNotArchivedReport}}</span>
          </a> -->
          <!-- <a class="btn btn-primary" href="/admin">
            Published <span class="badge badge-light"></span>
          </a> -->
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <i class="far fa-user-circle" aria-hidden="true"></i> Profile </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item waves-effect waves-light" href="/profile/">My Account</a>
              <a class="dropdown-item waves-effect waves-light" href="/user/posts/">My Posts</a>
              <a class="dropdown-item waves-effect waves-light" href="/user/likes/">My Likes</a>
              <a class="dropdown-item waves-effect waves-light" href="/logout/">Log Out</a>
            </div>
          </li>
          {%else%}

          <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/logIn/">Log In</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/signup/">Sign Up</a>
            </li> -->
          <li><a class="gradient-button gradient-button-4" href="/logIn/">Log In</a> </li>
          <li> <a class="gradient-button gradient-button-4" href="/signup/">Sign Up</a> </li>

          {% endif %}

        </ul>

      </div>
    </nav>
  </header>

  {% block content %}
  {% endblock %}

    <footer class="text-muted py-5" id="footer" class="site-footer">
        <!-- <div class="logo">
            <h3>
              <img src="{% static '/images/logo2.png' %}" width="40%" height="40%" />

                <span class="spl-name">Blogy</span>
        </div> -->
        
        <ul>
            <li>
                <a href="#"><img src="{% static '/images/inst.png' %}"/></a>
            </li>
            <li>
                <a href="#"><img src="{% static '/images/tw.png' %}"/></a>
            </li>
            <li>
                <a href="#"><img src="{% static '/images/face.png' %}"/></a>
            </li>
            <li>
                <a href="#"><img src="{% static '/images/tm.png' %}"/></a>
            </li>
        </ul>
        <p>Copyright &copy; 2021 Blogy Team. All Right Reserved &reg; </p>
        <a href="#" className='uppage'>Back to top</a>

    </footer>

  <script src="//code.tidio.co/ozgecflyxqw3basldhj02t7rib4jpuex.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
      {% block script %}
  {% endblock %}
</body>

</html>
