{%extends 'base.html'%}

{%block content%}
    <div class="container">
        <img src="https://image.freepik.com/free-vector/group-students-watching-online-webinar_74855-5514.jpg" class="img-fluid" alt="Responsive image">
        <div class="centered">Centered</div>
    </div>
    {%for post in posts%}
    <!-- <div class="card card-custom bg-white border-white">
        <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
        <div class="card-custom-avatar">
            <img class="img-fluid" src={{post.post_img}} alt="Avatar" />
        </div>
        <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text">Cards have minimum height set. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks">card-decks</a> to align them nicely in a row.</p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn btn-primary">Option</a>
            <a href="#" class="btn btn-outline-primary">Other option</a>
        </div>
    </div> -->
    
    
    <div className="boot">
        <div class="card">
          <img src={this.props.item.image} width='300px' height='300px'></img>
          <div class="card-body">
            <Fav
              getFav={this.props.getFav}
              removeFav={this.props.removeFav}
              item={this.props.item}
              isFav={this.props.isFav}
            />
            <h3 class="card-text">{{post.title}}</h3>
            <p class="card-text">yhbbhv</p>
            <p class="card-text priceCon">SR </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group botCon">
                <Link to={`/ItemInfo/:${this.props.item._id}`}>
                  <button type="button" class="btn btn-outline-success buttonCard" onClick="window.open('/ItemInfo')" >More</button>
                </Link>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
{%endblock%}
