{% extends 'base_form.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<p class="login-card-description">Craete your account now!</p>
<form method="POST">
    <div class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-block login-btn mb-4" type="submit">Submit</button>
    </div>
</form>
<div class="border-bottom pt-3">
    <small class="test-mute">
        Do you Have an account? <a href="{%url 'logIn'%}">Log In</a>
    </small>
</div>
{% endblock %}
