{%extends 'base.html'%}
{% load static %}


{%block content%}


<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#all">
            <a class="nav-link active" href="/user/posts/">
                All Posts</a></a>
    </li>
    <li class="nav-item">
        <a href="#published">
            <a class="nav-link active" href="/user/posts/published/">
                Published</a></a>
    </li>
    <li class="nav-item">
        <a href="#notPublished">
            <a class="nav-link active" href="/user/posts/notPublished/">
                Not Published</a></a>
    </li>
    <li class="nav-item">
        <a href="#refused">
            <a class="nav-link active" href="/user/posts/refused/">
                Refused</a></a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="all" class="container tab-pane active"><br>
        {%block all_post%}
        {% include "./blog/post_cards.html" with posts=posts %}
        {%endblock%}
    </div>
    <div id="published" class="container tab-pane fade"><br>
        {%block published_post%}
        {% include "./blog/post_cards.html" with posts=posts %}
        {%endblock%}
    </div>
    <div id="notPublished" class="container tab-pane fade"><br>
        {%block notPublished_post%}
        {% include "./blog/post_cards.html" with posts=posts %}
        {%endblock%}
    </div>
    <div id="refused" class="container tab-pane fade"><br>
        {%block refused_post%}
        {% include "./blog/post_cards.html" with posts=posts %}
        {%endblock%}
    </div>
</div>
</div>
{%endblock%}
