{%extends 'base.html'%}
{% load static %}


{%block content%}


<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#home">All Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#menu1">Published</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#menu2">Not Published</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#menu2">Refused</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
        {%block post_Cards%}
        {% include "./blog/post_cards.html" with posts=posts %}
        {% with variable='../userPostsList.html' %}
        {%endwith%}
        {%endblock%}
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.</p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.</p>
    </div>
</div>
</div>
{%endblock%}
