{% extends "../base.html" %}
{% block content %}
<div class="card mt-5" style="margin: 0 auto; width: 58%;">
    <div class="card-header">
        <h3>Reset Done</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-info">
            Your password has been set.
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'logIn' %}" class="gradient-button gradient-button-3"
            style="width: auto; float: right; text-decoration: none; color: white">Sign In
            Here</a>
    </div>
</div>
{% endblock content %}
