{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mt-5" style="margin: 0 auto; width: 58%;">
    <div class="card-header">
        <h3>Reset Password</h3>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <button class="gradient-button gradient-button-3" style="width: auto; float: right;" type="submit">Request
                Password Reset</button>
        </div>
    </div>
    </form>
</div>
{% endblock content %}
