{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="card mt-5" style="margin: 0 auto; width: 58%;">
        <div class="card-header">
            {% if 'create' in request.path|cut:'/'%}
            <h3 style="float: left;">Create Your Profile</h3>
            {% else %}
            <h3 style="float: left;">Update Your Profile</h3>
            <a href="{{request.META.HTTP_REFERER|escape}}"><i class="fa fa-times"
                    style="font-size: 20pt; float: right; color: #E26E8C; padding-top: 5px;"></i></a>
            {% endif %}
        </div>
        <div class="card-body">
            {{ form|crispy }}
            {{ form.media}}
        </div>
        <div class="card-footer">
            <button type="submit" class="gradient-button gradient-button-3" style="float: right;"><i
                    class="fa fa-cloud-upload "></i> Save</button>
        </div>
    </div>
</form>
{% endblock %}
