{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card mt-5" style="margin: 0 auto; width: 58%;">
            <div class="card-header">
                  <h1 style="float: left;">{{user.first_name}} {{user.last_name}}</h1>
                  <a class="gradient-button gradient-button-2" style="float: right;"
                        href="{% url 'user-profile-update' user.id %}"><i class="fas fa-edit"></i> Edit</a>
            </div>
            <div class="card-body">
                  <div class="row pb-5">
                        <div class="col-md-3">
                              <img src={{user.user_profile.profile_picture.url}}  alt="Avatar"
                                    class="avatar rounded-circle z-depth-1-half" width="200px" height="230px">
                        </div>
                        <div class="col-md-9">
                              <p class="font-weight-bold">User Name: <span class="font-weight-normal"> {{user.username}} </span> </p>
                              <p class="font-weight-bold">Position: <span class="font-weight-normal"> {{user.user_profile.position}} </span> </p>
                              <p class="font-weight-bold">About Me:<span class="font-weight-normal"> {{user.user_profile.about_me}} </span> </p>
                              <p class="font-weight-bold">Email:<span class="font-weight-normal"> {{user.email}} </span> </p>
                              <p class="font-weight-bold">Total Posts:<span class="font-weight-normal"> {{post.count}} </span> </p>
                        </div>
                  </div>
            </div>
      </div>
</form>
{% endblock %}