{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="card mt-5" style="margin: 0 auto; width: 55%;">
        <div class="card-header">
            <h3>Create Your Profile</h3>
        </div>
        <div class="card-body"> {{ form|crispy }}
        </div>
        <div class="card-footer">

            <input type="submit" value="Send" class="gradient-button gradient-button-3" style="float: right;">
        </div>
    </div>
</form>
{% endblock %}
