{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- templates/cats/detail.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


<section>
  <div class="container-fluid white">
    <hr class="mb-2 mt-0">
    <div class="container">

      <!--Section: Blog v.3-->
      <section class="section extra-margins mt-2 py-2 text-center text-lg-left">

        <!--Grid row-->
        <div class="row my-xl-5 py-xl-4">

          <!--Grid column-->
          <div class="col-sm-12 col-md-5 col-xl-5 mb-2">

            <!--Image-->
            <div class="view overlay">
              <img src={{user.user_profile.profile_picture.url}} class="avatar rounded-circle z-depth-1-half"
                width="400px" height="380px"" alt="">
                          <div class=" mask rgba-white-slight">
            </div>
          </div>
          <!--/.Image-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-12 col-md-6 col-xl-6">

          <h3 class="dark-grey-text pb-2 font-weight-bold">
            <strong>About me</strong>
          </h3>
          <p class="gold-text mb-2 text-uppercase font-weight-bold">SOME FACTS ABOUT ME</p>
          <!-- <div>
            <h5>FIND ME ON: </h5>
            <button type="button" class="btn btn-social-icon btn-facebook">
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </button>
            <button type="button" class="btn btn-social-icon">
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </button>
            <button type="button" class="btn btn-social-icon">
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </button>
          </div> -->
          <p>Joined: {{user.date_joined}}</p>
          <a class="gradient-button gradient-button-3"
            href="mailto: {{ user.email}} ?subject=your title&body=TThe message"
            style="width: auto; color: white; text-decoration: none; padding: 15px;">
            <i class="fal fa-envelope"></i> Content With me</a>
          <hr>

          <p class="dark-grey-text mt-4 text-justify">{{user.user_profile.about_me | safe}}</p>
          <h5 class="text-right font-weight-bold dark-grey-text mt-5">
            <em>{{user.first_name}} {{user.last_name}}</em>
          </h5>
          <p class="text-right font-weight-bold dark-grey-text mt-1">
            <em>{{user.user_profile.position}}</em>
          </p>


        </div>
        <!--Grid column-->
    </div>
    <!--/Grid row-->
</section>
<!--/Section: Blog v.3-->
</div>
</div>
</section>



<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#posts">
      <a class="nav-link" id="authorPosts" href="{% url 'authorePosts' user.id%}">
        Posts {{authorPost.count}}</a></a>
  </li>
  <li class="nav-item">
    <a href="#authorLikes">
      <a class="nav-link" id="authorLikes" href="{% url 'authoreLikes' user.id%}">
        Likes {{authorLikes.count}}</a></a>
  </li>
  <li class="nav-item">
    <a href="#authorComments">
      <a class="nav-link" id="authorCommines" href="{% url 'usercomments' user.id%}">
        Commines {{authorComments.count}}</a></a>
  </li>
</ul>

<div class="tab-content mt-5">
  <div id="authorPost" class=" tab-pane active "><br>
    {% if authorPost%}
    {%block authorPost%}
    {% include "blog/post_cards.html" with posts=authorPost %}
    {%endblock%}
    {% endif %}
  </div>
  <div id="authorLikes" class=" tab-pane active "><br>
    {% if authorLikes%}
    {%block authorLikes%}
    {% include "blog/post_cards.html" with posts=authorLikes %}
    {%endblock%}
    {% endif%}
  </div>
  <div id="authorComments" class=" tab-pane active "><br>
    {%block postsComment%}
    {% include "./userpostcomment.html" with posts=usercomments %}
    {%endblock%}
  </div>
</div>


{% endblock %}
