{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}

    <div class="card mt-5" style="margin: 0 auto; width: 58%;">
        <div class="card-header">
            <h3>Your Post</h3>
        </div>
        <div class="card-body"> 
          {{ form | crispy }}
          {{ form.media}}

        </div>
        <div class="card-footer">
            <a href="{{request.META.HTTP_REFERER|escape}}" class="gradient-button gradient-button-1"
                style="float: left;">Back</a>
            <input type="submit" value="Send" class="gradient-button gradient-button-3" style="float: right;">
        </div>
    </div>
</form>
{% endblock %}
