{% block comment %}
<!--Comments-->
<div class="container-fluid mb-5">
  <div class="col-md-12 px-lg-5">
    <!--Card-->
    <div class="PostCard pb-5 mx-md-3 ">
      <div class="card-header ">
        <h1 class='mt-4 '>
          <strong>Comments<span
              class="badge indigo comment-count{{post.id}}">({{post.comment_set.count}})</span></strong>
      </div>
      <div class="card-body" style="height: auto;">
        <section>
          <div class="comments-list text-center text-md-left comment{{post.id}}">
            <div class="text-center my-5">
            </div>
            {%for comment in post.comment_set.all %}
            <div class="row mb-5">
              <div class="col-sm-2 col-12 mb-3">
                <img src="{{comment.user_id.user_profile.profile_picture.url}}"
                  class="avatar rounded-circle z-depth-1-half" alt="sample image"
                  style="height: 100px; width: 100px; margin-left: 25px" />
              </div>
              <div class="col-sm-10 col-12">
                <a href="{% url 'profile' comment.user_id.id%}" style="color: black;">
                  <h5 class="user-name font-weight-bold">
                    {{comment.user_id.first_name}} {{comment.user_id.last_name}}
                  </h5>
                </a>
                <div class="card-data">
                  <ul class="list-unstyled">
                    <li class="comment-date font-small">
                      <i class="far fa-clock-o"></i> {{comment.Publish_date}}
                    </li>
                  </ul>
                </div>
                <p class="dark-grey-text article">{{comment.content}}</p>
                <div class="form{{comment.id}} form">
                  {% block edit %}
                  {% include "./editcomment.html" with comment=comment%}
                  {%endblock%}
                </div>
              </div>
              {% if comment.user_id == request.user %}
              <ul class=postButton>
                <li>
                  <div class="gradient-button gradient-button-2 edit{{comment.id}}"
                    style="text-decoration: none; color: white;"><i class="fa fa-edit"></i> Edit</div>
                </li>
                <li>
                  <div class="gradient-button gradient-button-1 delet{{comment.id}}"
                    href="{% url 'blog-post-delete' post.id %}" style="text-decoration: none; color: white;"><i
                      class="fa fa-trash"></i> DELETE</div>
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
          <hr>
          {%endfor%}
      </div>
      </section>
      <!--Section: Leave a reply (Not Logged In User)-->
      <div class="card-footer">
        <section class="mb-4 wow fadeIn" data-wow-delay="0.2s">
          <h3 class="font-weight-bold text-center my-5">Leave a Comment</h3>
          <!--Grid row-->
          <div class="row">
            <!-- <form class="col-12 mt-1 comment_form" method="POST" action=".">
      {%csrf_token %y} -->
            <div class="col-12 mt-1">
              <div class="form-group basic-textarea rounded-corners shadow-textarea {{post.id}}">
                <textarea class="form-control content{{post.id}}" rows="4" placeholder="Write something here..."
                  required></textarea>
              </div>
              <div class="text-right">
                <button type="button" id="{{post.id}}" class="gradient-button gradient-button-3 submentComment"
                  style='margin-left: 50%;'>
                  Submit
                </button>
              </div>
            </div>
            <!-- </form> -->
          </div>
          <!--Grid row-->
        </section>
        {% endblock %}
        {% block script%}
        <script>
          $('.form').hide()
          comment_id = '{{comment.id}}'
          $(".submentComment").on("click", function () {
            var post_id = "{{post.id}}";
            var content = $(`.content${post_id}`).val();
            if (content == "") {
              alert("Comments cannot be empty")
              return
            }
            $.ajax({
              type: "POST",
              url: "/comment/",
              data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                content: content,
                post_id: post_id,
              },
              // dataType: "json",
              beforeSend: function () {
                $(".submentComment").addClass("disabled").text("saving...");
              },
              success: function (res) {
                $(`.content${post_id}`).val("");
                window.location.reload();
                $(".submentComment").removeClass("disabled").text("Submit");
              },
              error: function (response) {
                console.log("error", response);
                console.log(data);
              },
            });
          });
          // $('.delet{{comment.id}}'.on('click', function(){
          //   if (confirm('Are you sure you want to delete?')){
          //     $.ajax({
          //       type: "POST",
          //       url: `/comment/delete/`,
          //       data: {
          //         csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
          //         comment_id: comment_id,
          //       },
          //       dataType: "json",
          //       beforeSend: function () {
          //         $(".delet{{comment.id}}").addClass("disabled").text("delete...");
          //       },
          //       success: function (data) {
          //         window.location.reload();
          //         // $(`.content${post_id}`).val("");
          //         // $(".editComment").removeClass("disabled").text("Submit");
          //       },
          //     })
          //   }
          // }
        </script>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}


