{%block like%}
​
<form action="{% url 'like_post'  %}" method="POST" class='like_form' id='{{post.id}}'>
  {% csrf_token %}
​
  <input type="hidden"name="post_id"class='btn btn-warning btn-sm' value="{{post.id}}">
    <button type='submit'class='like_button{{post.id}} gradient-button gradient-button-2 thumbs-up''>
      {% if profile not in post.likes.all %}
        Like
      {% else %}
        Unlike
      {% endif %}
    </button>
</form>
{% if show %}
 <p class='like_count{{post.id}}'>{{post.like_count}}</p>
{%endif%}
{% endblock %}
​
{% block script %}
<script>
  $('.like_form').submit(function(e){
    e.preventDefault()
    const post_id = $(this).attr('id')                
    const like_button = $(`.like_button${post_id}`).text()
    const trim = $.trim(like_button)
    const url = $(this).attr('action')
    let res;
    const like_count = $(`.like_count${post_id}`).text()
    const trimCount = parseInt(like_count)
​
    $.ajax({
      type: 'POST',
      url: url,
      data: {
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        'post_id':post_id,
      },
      success: function(response) {
        if(trim === 'Unlike') {
          $(`.like_button${post_id}`).text('Like')
          res = trimCount - 1
        //   $(`.like_button${post_id}`).hide();
        } else {
          $(`.like_button${post_id}`).text('Unlike')
          res = trimCount + 1
        }
        console.log('success',response)
​
        $(`.like_count${post_id}`).text(res)
      },
      error: function(response) {
        console.log('error', response)
      }
    })            
})
</script>
{%endblock%}