{% extends 'base.html' %}

{% block content %}
<!-- templates/cats/detail.html -->

<div class="card-content">    
  <img class="img-fluid" src="{{post.post_img.url}}"  height="350" >

    <h1> title: {{ post.title }} </h1>
   {{ post.content | safe}}
   <h5> Published: {{ post.date_post }} </h5>
   <h5> by: {{ post.author }} </h5>
  
</div>
<a href="{% url 'blog-post-Update' post.id %}">Update Details</a> | 

<form action="{% url 'like_post'  %}" method="POST" class='like_form' id='{{post.id}}'>
  {% csrf_token %}

  <input type="hidden"name="post_id"class='btn btn-warning btn-sm' value="{{post.id}}">Like</button> <p id='like'>{{like}}</p>
    <button type='submit'>
      {% if profile not in post.likes.all %}
        like
      {%else%}
        unlike
      {%endif%}
    </button>
</form>
 <p class='like_count'>{{post.like_count}}</p>

 

{% endblock %}

{% block script %}
<script>
  $('.like_form').submit(function(e){
    e.preventDefault()
    console.log('blabla')
  })
</script>
{% endblock %}